body {
    min-height: 100vh;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.nome1 {
    height: 600px;
    width: 800px;
    background-color: aquamarine;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.nome2, .nome3, .nome4 {
    height: 180px;
    width: 700px;
    display: flex;
    justify-content: space-evenly;  
    align-items: center;
    background-color: burlywood;
    border: 2px solid black;
    margin: 5px 0;
    padding: 0;  
    box-sizing: border-box;
}

.nome3 {
    background-color: chartreuse;
}

.nome4 {
    background-color: cadetblue;
}

.nome5 {
    height: 80px;
    width: 90px;
    background-color: coral;
    border: 2px solid black;
}